body {
    /*background-color: magenta;*/
    font-family: Arial;
}
h1 {
    text-align: center;
}

.notification {
    text-align: center;
    font-size: 30px;
    color: #00FFF1;
}
.board {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 35%;
    top: 30%;
}

.row {
    width: 100%;
    display: inline-block;
}

.box {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    margin: 1px;
    text-align: center;
    font-size: 100px;

}

.has-hover:hover {
    border: 3px solid black;
}

.winner {
    background: red;
    /*background: #FF4847;*/
}

.loser {
    opacity: .2
}

#reset {
    position: absolute;
    bottom: 7%;
    left: 46%;
}
